@font-face {
	font-family: 'alihei';
	src: url('https://yjl.linkom.com.cn/loadfile/ht.ttf') format('truetype');
}



@font-face {
	font-family: 'alyuan';
	src: url('https://yjl.linkom.com.cn/loadfile/ht.ttf') format('truetype');
}
